# Survival's probability of Titanic's passengers using Decision Trees and Random Forests

Used Techniques: Supervised learning, Decision Trees and Random Forests. 

In this exercise, we are going to use a kaggle dataset coming from this URL: https://www.kaggle.com/code/faressayah/decision-trees-random-forest-for-beginners/input

In [1]:
import pandas as pd
import numpy as np
from sklearn.impute import KNNImputer
from sklearn.preprocessing import StandardScaler

In [2]:
#Since we downloaded the data into a csv, let's convert it into a pandas dataframe.
train_df = pd.read_csv('train.csv')
test_df = pd.read_csv('test.csv')

#We first see how our data looks like
train_df.head(5)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

Before starting the analysis, the documentation highlights the following column definitions:
- pclass: Ticket class. 1=1st, 2=2nd, 3=3rd
- sibsp: # of siblings/spouses aboard the titanic
- parch: # of parents/children aboard the titanic
- fare: Passenger fare
- Cabin: Cabin number
- Embarked: port of embakation. C=Cherbourg, Q=Queenstown, S=Southampton

In [3]:
#Now that our data is legible our first step is knowing both of our dataframes. 
#Magnitude of or dataframe
print(train_df.shape)
print(test_df.shape)

#Information per column
print("\n Train dataset information")
print(train_df.info())
print("\n Test dataset information")
print(test_df.info())

(891, 12)
(418, 11)

 Train dataset information
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB
None

 Test dataset information
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Pclass       418 non-null    int64
 2   Name         418 non-null    object
 3   Sex          418 non-null    object
 4   Age          332 non-null    float64
 5   SibSp        418 non-null    int64
 6   Parch        418 non-null    int64
 7   Ticket       418 non-null    object
 8   Fare         417 non-null    float64
 9   Cabin        91 non-null     object
 10  Embarked     418 non-null    object
dtypes: float64(2), int64(4), object(5)
memory usage: 36.0+ KB
None

By seeing both lists, there are several points to address: 
1. The training and testing sets the columns "Age" and "Cabin" have some null data. It's important to fix it in order to avoid any model underfitting. 
2. The columns "Name", "Sex", "Tickets", "Cabin" and "Embarked" are an object.This must be corrected as the models do not accept object type data.
3. The column "Age" is a float type data. Which by default doesn't make any sense. 

Now that we know more about our data, let's dive more into the samples to correct each case.

The easiest case to correct would be the "Sex" column. Intuitively, there must be only 2 options "F" or "M". If that's the case, we could just transform this into a binary data. If not, we must ensure we have tops 3 options, "F", "M" or "N/A".

In [5]:
print(train_df["Sex"].value_counts()) #data label counting
print(test_df["Sex"].value_counts()) #data label counting

#Since our first hypothesis was correct we can turn the data into binary (boolean).
train_df["Sex_bool"] = train_df["Sex"].map({'female':1, 'male':0})
test_df["Sex_bool"] = test_df["Sex"].map({'female':1, 'male':0})

#We check that the changes have been correctly made. 
train_df.head(5)
test_df.head(5)

#Now we delete the object type "Sex" column.
train_df = train_df.drop('Sex', axis=1)
test_df = test_df.drop('Sex', axis=1)

#We check how the dataset looks
print(train_df.columns)
print(test_df.columns)

male      577
female    314
Name: Sex, dtype: int64
male      266
female    152
Name: Sex, dtype: int64
Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Age', 'SibSp', 'Parch',
       'Ticket', 'Fare', 'Cabin', 'Embarked', 'Sex_bool'],
      dtype='object')
Index(['PassengerId', 'Pclass', 'Name', 'Age', 'SibSp', 'Parch', 'Ticket',
       'Fare', 'Cabin', 'Embarked', 'Sex_bool'],
      dtype='object')

Based on the information provided by the documentation, we know that the "Embarked" column has 3 multiple choices that we can handle as a categorical data. However, since the goal of the project is to practice decision trees and Random Forest techniques, our best choice is to apply One-hot Encoding. We can not implement ordinal encoding, because trees tend to interpret the values as if they would have a real order, even if the categories don't have any, like this case.

In [6]:
train_df = pd.get_dummies(train_df, columns=['Embarked'])
train_df

test_df = pd.get_dummies(test_df, columns=['Embarked'])
test_df

,PassengerId,Pclass,Name,Age,SibSp,Parch,Ticket,Fare,Cabin,Sex_bool,Embarked_C,Embarked_Q,Embarked_S
0,892,3,"Kelly, Mr. James",34.5,0,0,330911,7.8292,NaN,0,0,1,0
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",47.0,1,0,363272,7.0000,NaN,1,0,0,1
2,894,2,"Myles, Mr. Thomas Francis",62.0,0,0,240276,9.6875,NaN,0,0,1,0
3,895,3,"Wirz, Mr. Albert",27.0,0,0,315154,8.6625,NaN,0,0,0,1
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",22.0,1,1,3101298,12.2875,NaN,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
413,1305,3,"Spector, Mr. Woolf",NaN,0,0,A.5. 3236,8.0500,NaN,0,0,0,1
414,1306,1,"Oliva y Ocana, Dona. Fermina",39.0,0,0,PC 17758,108.9000,C105,1,1,0,0
415,1307,3,"Saether, Mr. Simon Sivertsen",38.5,0,0,SOTON/O.Q. 3101262,7.2500,NaN,0,0,0,1
416,1308,3,"Ware, Mr. Frederick",NaN,0,0,359309,8.0500,NaN,0,0,0,1
417,1309,3,"Peter, Master. Michael J",NaN,1,1,2668,22.3583,NaN,0,1,0,0

Our Next columns to treat are "Name" and "Tickets". What these columns have in common is that both of them can be considered as unique ids per passenger. What we can do for now is just transform them as categorical data in case we later need to transform any of these two into numerical and meanwhile reduce the memory usage. This won't make any changes on the data apart from the data type, meaning the data will be displayed exactly the same as the beginning. As an advantage, having them as categorical data, allow us to see if they are indeed unique and make analyses related to the target.

In [7]:
train_df['Name'] = train_df['Name'].astype('category')
train_df['Ticket'] = train_df['Ticket'].astype('category')

test_df['Name'] = test_df['Name'].astype('category')
test_df['Ticket'] = test_df['Ticket'].astype('category')

#Unique values
print("Name unique count: ",train_df['Name'].nunique())
print("Ticket unique count: ",train_df['Ticket'].nunique())

print("Test Name unique count: ",test_df['Name'].nunique())
print("Test ticket unique count: ",test_df['Ticket'].nunique())

Name unique count:  891
Ticket unique count:  681
Test Name unique count:  418
Test ticket unique count:  363

As we can see, in the training names, we don't have any repeated data, but in the rest of counts, the ids are not unique.This might just be a characteristic of the data or maybe a clue of a estructural relationship. But we will address this possible relationship when we get to the exploratory analysis.In this part, we will only focus on getting quality data to analyze.

For this next part we will approach a solution for the null data in the "Age" Column. For this column we can have two different solutions: 
1. We can calculate the median per class and impute the result. In one hand, this is simple, fast, the median is robust upon outliers and makes sense that the age can be correlated with socioeconomic conditions. On the other hand, this technique totally ignores important variables that can give us more accuracy on the age, like sex, number of members of the family, etc. 
2. Impute using KNN. On the bright side, this solution takes more variables into account, which lead to more personalized estimations. Besides it can capture fine patterns like the approximate age for the specific profile. Normally, this type of solutions can be much more lower to implement on huge datasets, but since our dataset is not that big we can use this solution. 

Both can be really good for this problem, but since our dataset is not that huge and we want to obtain a much more related value to the situation of each passenger, the most adequate solution would be number 2.

In [8]:
def knnimputer_misval(features, df):
    impute_df = df[features].copy() #We create a new dataframe just with these columns.
    
    #Standardize the variables to avoid that a column with high values domains over the distance from other columns.
    scaler = StandardScaler()
    imputed_scaled = scaler.fit_transform(impute_df) 
    
    #Apply the KNNImputer
    imputer = KNNImputer(n_neighbors=5)
    imputed_array = imputer.fit_transform(imputed_scaled)

    #Convert the result into a DataFrame
    imputed_df = pd.DataFrame(imputed_array, columns=features)

    #Invert the scaled DataFrame to return the original ages.
    imputed_df_unscaled = pd.DataFrame(scaler.inverse_transform(imputed_df), columns=features)

    return imputed_df_unscaled

#To implement impute KNN we must select the columns that can be related with the age and that are numerical.
features = ["Age", "Pclass", "SibSp", "Parch", "Fare"] #These are the most intuitive ones. 
#Age is the one to be imputed
#Pclass refers to social status which leads to certain tendency on ages. 
#SibSp and Parch are the number of familiy members, which can be related to parents, children, spouses.
#Fare refers to type of passenger

#we calculate the KNNImputation
imputed_df_unscaled_train = knnimputer_misval(features,train_df)
imputed_df_unscaled_test = knnimputer_misval(features,test_df)

#Replace the original ages in the original dataset
train_df["Age"] = imputed_df_unscaled_train["Age"]
test_df["Age"] = imputed_df_unscaled_test["Age"]

#Now we check that we don't have any null data within the age column. 
train_df["Age"].isnull().sum()
test_df["Age"].isnull().sum()

0

For the last column "Cabin" with null data, we are going to start from the hypothesis that if you have a Passenger that has a cabin, and a duplicated ticket, then we can assign the same deck.

In [9]:
#First let's see the groups of cabins we have
train_df['Cabin'].value_counts()
test_df['Cabin'].value_counts()

#As we can see the Cabin data has 1 letter and a number, the letter refers to the deck
#What we can do is to extract the letter and assign it to persons that have duplicated tickets.
train_df['Cabin_deck'] = train_df['Cabin'].str[0]
test_df['Cabin_deck'] = test_df['Cabin'].str[0]

#To do this we make a dictionary that links the cabin letter with ticket id. If a ticket is duplicated with other passenger, we 
#will assume that they were on the same deck. 

#First we have to drop duplicates and have a clean dataset with not nan.
ticket_to_cabin = train_df[train_df['Cabin_deck'].notna()].drop_duplicates(subset="Ticket")[["Ticket", "Cabin_deck"]]
ticket_to_cabin_test = test_df[test_df['Cabin_deck'].notna()].drop_duplicates(subset="Ticket")[["Ticket", "Cabin_deck"]]

#Once we have this, we can make our dictionary with the data that is from our interest.
ticket_to_cabin_dict = dict(zip(ticket_to_cabin["Ticket"], ticket_to_cabin["Cabin_deck"]))
ticket_to_cabin_dict_test = dict(zip(ticket_to_cabin_test["Ticket"], ticket_to_cabin_test["Cabin_deck"]))

#Now that we have this, we can now assign the cabin to a passenger
train_df["Cabin_deck"] = train_df["Cabin_deck"].fillna(train_df["Ticket"].map(ticket_to_cabin_dict))
test_df["Cabin_deck"] = test_df["Cabin_deck"].fillna(test_df["Ticket"].map(ticket_to_cabin_dict_test))

#We count the missing values
print(train_df['Cabin_deck'].isna().sum())
print(test_df['Cabin_deck'].isna().sum())

#As we can see, the data is still having lots of nan data. 
#For those cases, we are going to use a KNNImputer.
#But we have to have in mind that KNNImputer doesn't accept any non-numerical data.
#Therefore, we need to first transform the Cabin_deck into a numerical data. 
#To do that we will first see how many decks and how related to the classes are. 
train_df.groupby('Pclass')["Cabin_deck"].unique() 
#Since they are related in a descendant order, we can transform them as a=1, b=2, etc.

deck_mapping = {chr(i):i-64 for i in range(ord('A'), ord('T')+1)}
train_df["Cabin_deck_num"] = train_df["Cabin_deck"].map(deck_mapping)
test_df["Cabin_deck_num"] = test_df["Cabin_deck"].map(deck_mapping)

#Now we calculate de KNNImputer with these features:
#Cabin_deck_num, PClass, SibSp and Parch and Fare. 
features = ['Cabin_deck_num','Pclass', 'SibSp', 'Parch', 'Fare']
imputed_df_unscaled_train = knnimputer_misval(features,train_df)
imputed_df_unscaled_test= knnimputer_misval(features,test_df)

#Replace the original decks in the original dataset
train_df["Cabin_deck_num"] = imputed_df_unscaled_train["Cabin_deck_num"].round()
test_df["Cabin_deck_num"] = imputed_df_unscaled_test["Cabin_deck_num"].round()

num_to_deck = {i:chr(i+64) for i in range(1,21)}
train_df["Cabin_deck"] = train_df["Cabin_deck_num"].map(num_to_deck)
test_df["Cabin_deck"] = test_df["Cabin_deck_num"].map(num_to_deck)

#Validation for na values. 
print(train_df["Cabin_deck"].isna().sum())
print(test_df["Cabin_deck"].isna().sum())

676
324
0
0

Now when we see our dataframe's information, we see that the column "Cabin" will be the only one that will not have a full set of data, but that is because we added the columns of the deck that can replace this column.

In [10]:
train_df.info()
test_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 16 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   PassengerId     891 non-null    int64
 1   Survived        891 non-null    int64
 2   Pclass          891 non-null    int64
 3   Name            891 non-null    category
 4   Age             891 non-null    float64
 5   SibSp           891 non-null    int64
 6   Parch           891 non-null    int64
 7   Ticket          891 non-null    category
 8   Fare            891 non-null    float64
 9   Cabin           204 non-null    object
 10  Sex_bool        891 non-null    int64
 11  Embarked_C      891 non-null    uint8
 12  Embarked_Q      891 non-null    uint8
 13  Embarked_S      891 non-null    uint8
 14  Cabin_deck      891 non-null    object
 15  Cabin_deck_num  891 non-null    float64
dtypes: category(2), float64(3), int64(6), object(2), uint8(3)
memory usage: 143.5+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   PassengerId     418 non-null    int64
 1   Pclass          418 non-null    int64
 2   Name            418 non-null    category
 3   Age             418 non-null    float64
 4   SibSp           418 non-null    int64
 5   Parch           418 non-null    int64
 6   Ticket          418 non-null    category
 7   Fare            417 non-null    float64
 8   Cabin           91 non-null     object
 9   Sex_bool        418 non-null    int64
 10  Embarked_C      418 non-null    uint8
 11  Embarked_Q      418 non-null    uint8
 12  Embarked_S      418 non-null    uint8
 13  Cabin_deck      418 non-null    object
 14  Cabin_deck_num  418 non-null    float64
dtypes: category(2), float64(3), int64(5), object(2), uint8(3)
memory usage: 66.0+ KB

Since we have now a complete and nan data free Dataframe, we can now start with our EDA. 
For starters, we will beginn with a general overview of the data.

In [11]:
#Statistical description quick view
print(train_df.describe())

       PassengerId    Survived      Pclass         Age       SibSp  \
count   891.000000  891.000000  891.000000  891.000000  891.000000
mean    446.000000    0.383838    2.308642   30.104231    0.523008
std     257.353842    0.486592    0.836071   13.734518    1.102743
min       1.000000    0.000000    1.000000    0.420000    0.000000
25%     223.500000    0.000000    2.000000   22.000000    0.000000
50%     446.000000    0.000000    3.000000   29.200000    0.000000
75%     668.500000    1.000000    3.000000   39.000000    1.000000
max     891.000000    1.000000    3.000000   80.000000    8.000000

            Parch        Fare    Sex_bool  Embarked_C  Embarked_Q  Embarked_S  \
count  891.000000  891.000000  891.000000  891.000000  891.000000  891.000000
mean     0.381594   32.204208    0.352413    0.188552    0.086420    0.722783
std      0.806057   49.693429    0.477990    0.391372    0.281141    0.447876
min      0.000000    0.000000    0.000000    0.000000    0.000000    0.000000
25%      0.000000    7.910400    0.000000    0.000000    0.000000    0.000000
50%      0.000000   14.454200    0.000000    0.000000    0.000000    1.000000
75%      0.000000   31.000000    1.000000    0.000000    0.000000    1.000000
max      6.000000  512.329200    1.000000    1.000000    1.000000    1.000000

       Cabin_deck_num
count      891.000000
mean         5.084175
std          1.462139
min          1.000000
25%          5.000000
50%          6.000000
75%          6.000000
max         20.000000

This statistical give us generalized info like the one enlisted, but quite enough to make our own hypothesis and delimit the best features to determine a passengers survival probability:
- Approximately 38% of passengers survived
- Less than 25% of passengers were between classes 1 and 2. 
- 75% of passengers were on third class
- The average age of the passengers was around 30 years old and >=75% of the passengers were aprox around this age.
- The most popular por of embarcation was the "s"
- 35% of the passengers were women. 

Based on this we can make some hypothesis, such as:
1. If 38% of passengers survivied and 35% of passengers were women, if you were a women you had high chances to survive.
2. If you were around 30 years old you had chances to survive but they were not high. 
3. If you were on third class you would likely not survive. 
4. If you were on first or second class, you had chances to survive.

In [ ]:
train_df["Sex_bool"].value_counts()